# Byte-compiled files
__pycache__/

# Python compiled objects
*.pyc

# VS Code stuff
/.vscode

src/cerebras/modelzoo/models/gnn/model_dir_gnn/**
src/cerebras/modelzoo/models/gnn/data/datasets/**
src/gnn_on_modelzoo.egg-info/**

pip-packages/
model_dir_gnn/